#table2 {
	width: 20%;
}

thead {
	background-color: black;
	color: white;
}

.playerPicture {
	width: 500px;
	height: auto;
}

body {
	background: rgb(194, 30, 30);
	background: linear-gradient(90deg, rgba(194, 30, 30, 1) 0%,
		rgba(221, 13, 13, 1) 18%, rgba(175, 41, 41, 1) 32%,
		rgba(174, 58, 58, 1) 44%, rgba(181, 80, 80, 1) 58%,
		rgba(103, 97, 152, 1) 72%, rgba(0, 48, 255, 1) 85%);
}

tbody {
	color: white;
	background-color: white;
	color: black;
}

nav {
	 background: rgb(103, 97, 152);
	background: linear-gradient(90deg, rgba(103, 97, 152, 0.61390493697479)
		16%, rgba(255, 255, 255, 0) 100%); 
}
a {
	color: white;
}
h2 {
	color: white;
}
form {
	color: white;
}
h1 {
color: white;
}

